<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= link_to 'back to list', restaurants_path %></p>
<p> <%=link_to 'destroy', restaurant_path(@restaurant), method: :delete%> </p>
<p> <%=link_to 'update', edit_restaurant_path(@restaurant)%> </p>
